[Unit]
Description=Processes statistics from HAProxy and pushes them to Graphite
After=network.service syslog.target
Wants=network.service syslog.target
Documentation=https://github.com/unixsurfer/haproxystats

[Service]
Type=simple
KillMode=process
Environment="CONFIG=/etc/haproxystats.conf"
User=haproxystats
Group=haproxystats
ExecStart=/opt/blue-python/3.4/bin/haproxystats-process -f $CONFIG
TimeoutStartSec=3
TimeoutStopSec=60
Restart=on-failure

[Install]
WantedBy=multi-user.target
